Flask==3.0.3
gunicorn==21.2.0

numpy==1.26.4
scipy==1.11.4
h5py==3.10.0

tensorflow-cpu==2.15.0
keras==2.15.0

opencv-python-headless==4.10.0.84

pytz==2025.2
reportlab==4.2.0
requests==2.32.3

Pillow==10.3.0
protobuf==4.25.3
Werkzeug==3.0.3